.statusContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 400px;
    min-width: 20rem;
    max-width: 20rem;
    // height: ${statusHeight}px;
    // overflow-y: scroll;
    margin-left: 1rem;

    position: relative;

    // hide the scrollbar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.statusContainer::-webkit-scrollbar {
    display: none;
}
